<main>
  <div class="dashboard-header">
    <div>
      <div>
        <h2>Welcome {{username}}</h2>
      </div>
      <div>
        <button id="new-blog-btn-dash" class="new-blog-btn">Add New Blog</button>
      </div>
    </div>

  </div>
  <div class="blogfeed-container">
    {{#each blogs as |blog|}}
        {{> dashboardfeed-tile}}
    {{/each}}
  </div>
</main>
<script src="/js/dashboard-partial.js"></script>
<script src="/js/dashboard.js"></script>