<main>
  <div class="login-container">
    <form>
      <div class="form-control">
        <label>Login</label>
      </div>
      <div class="form-control">
        <label>Username:</label>
        <input type="text" />
      </div>
      <div class="form-control">
        <label>Password:</label>
        <input type="password" />
      </div>
      <div class="form-control">
        <input type="submit" value="Login" />
      </div>
      <div class="form-control">
        <label><a href="/sign-up">Sign Up</a></label>
      </div>

    </form>
  </div>

</main>