<main>
  <div class="login-container">
    <form id="new-blog-form">
      <div class="form-control">
        <label>New Blog</label>
      </div>
      <div class="form-control">
        <label>Title:</label><br />
        <input type="text" id="blog_title" />
      </div>
      <div class="form-control">
        <label>Content:</label><br />
        <textarea id="blog_content" rows="10" cols="70"></textarea>
      </div>
      <div class="form-control">
        <input type="submit" value="Publish" />
      </div>
    </form>
  </div>
</main>
<script src="/js/newBlog.js"></script>